.wrapper{
  width: 420px;
  height: fit-content;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: white;
  padding: 30px 40px;
}

.wrapper h1,h3{
  text-align: center;
}

.wrapper .input-box{
  position: relative;
  width: 95%;
  height: 5vh;
  margin: 30px 5px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a{
  color: #fff;
  text-decoration: NONE;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper .login-button{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 80px;
  box-shadow: 0 0 10px rgba(20, 20, 20, .2);
  color: rgba(115, 44, 168, 0.7);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.wrapper .login-button-disabled{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 80px;
  box-shadow: 0 0 10px rgba(20, 20, 20, .2);
  color: rgba(228, 226, 230, 0.7);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.wrapper .register-link{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  margin-right: 0.25rem;
  margin-top: auto;
  margin-bottom: 20px;
}
