.ClothesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-around;
}

.ClothCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px; /* Adjust based on your preference */
  margin: 10px; /* Add some margin for spacing */
  position: relative; /* Ensure positioning context for absolute children */
}

.ClothCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance the shadow for better effect */
}

.ClothPreview {
  height: 150px;
  background: #f8f8f8;
}

.ClothData {
  padding: 10px; /* Adjust the padding */
  transition: max-height 0.3s ease; /* Smooth transition for max-height */
  font-size: 0.75rem; /* Reduce the font size */
}

.ClothData .active {
  max-height: 200px; /* Enlarge the ClothData on the y-axis */
}

.Tooltip {
  margin: 0;
  padding: 0;
}

.ClothTitle {
  margin: 0;
}

.ClothTitle h2 {
  margin: 5px 0;
  font-size: 1rem; /* Adjust the font size */
  color: #555;
}

.RedirectButton {
  margin-bottom: -180px;
  margin-right: -40px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: rgb(205, 3, 255);
  border: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 24px;
}

.RedirectButton:hover {
  background-color: #aa00ff; /* Background color on hover */
  color: white; /* Text color on hover */
}